<!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous"/>
    <title>Todo App</title>
  </head>
  <body>
    <nav class="navbar navbar-light bg-light">
      <a class="navbar-brand" href="/">Todo App</a>
    </nav>

    <div class="container mt-5">
      <form action="/update/todo/<%= data._id %>" method="post" class="d-flex">
        <input value="<%= data.todo %>" type="text" name="todo" class="form-control">
        <input type="submit" value="Update Todo" class="btn btn-primary mx-2">
      </form>
    </div>
  </body>
</html>